.comments {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  
  .row {
    display: grid;
    grid-template-columns: 2rem 1fr;
    grid-column-gap: 1rem;

    .avatar {
      max-width: 2rem;
    }
    .col {
      display: flex;
      flex-direction: column;
      row-gap: 1rem;

      img {
        width: 2rem;
        height: 2rem;
      }
    }
  }
}

.write-comment {
    margin-top: 1rem;
    margin-bottom: 1rem;
}